@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

a {
  width: 100%;
}

.button {
  @include buttons;
  @include boxSize(100%, 100%);
  margin: 2px;
  font-size: $fontSizeS;
  cursor: pointer;
}
