@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.calendar {
  &__container {
    position: relative;
    @include mainContainers;
    @include flexContainer(flex, center, center, column);
  }

  &__edit {
    position: absolute;
    top: -30px;

    &-button {
      margin: 0 auto;
      font-size: $fontSizeL !important;
    }
  }

  &__days {
    @include flexContainer(flex, center, flex-start, row wrap);

    &-wrapper {
      @include boxSize(100%, 100%);
      overflow-y: scroll;
      position: absolute;
    }
  }

  &__day {
    @include flexContainer(flex, center, center, column);
    margin: 20px;

    &-mood {
      @include boxSize(50px, unset);
      border-radius: 50%;
    }
    &-info {
      &--date {
        font-family: $font-secondary;
        font-size: $fontSizeXS;
      }

      &--message {
        font-size: $fontSizeXS;
      }
    }
  }
}
