@import '../../scss/variables.scss';

@mixin flexContainer($display, $justifyContent, $alignItems, $flexDirection) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-flow: $flexDirection;
}

@mixin boxSize($height, $width){
  height: $height;
  width: $width;
}

@mixin mood($happy: true) {
  @if $happy {
    background: url('../images/happy.png') center center no-repeat transparent;
  } @else {
    background: url('../images/sad.png') center center no-repeat transparent;
  }
}

@mixin buttons {
  border: none;
  width: 100%;
  background-color: $blueMelancholy;
  color: $whiteMind;
  font-weight: bold;
  box-shadow: 0 4px 12px 0 $niceBlueShadow;
}

@mixin shadowBox {
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 12px 0 $niceBlueShadow;
}

@mixin simpleBox{
  @include boxSize(40px, 260px);
  border-radius: 5px;
  border: 1px solid $grayPerson;
  padding: 10px;
}

@mixin inputWrapper {
  @include boxSize(15%, 90%);
  @include flexContainer(flex, space-evenly, flex-start, column);
}

@mixin mainContainers {
  @include shadowBox;
  @include boxSize(75%, 90%);
}

