@import '../../scss/variables.scss';

@mixin flexContainer($display, $justifyContent, $alignItems, $flexDirection) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

@mixin gridContainer($display, $gridTempCol, $gridTempRows, $gridColGap, $gridRowGap) {
  display: $display;
  grid-template-columns: $gridTempCol;
  grid-template-rows: $gridTempRows;
  grid-column-gap: $gridColGap;
  grid-row-gap: $gridRowGap;
}

@mixin boxSize($height, $width){
  height: $height;
  width: $width;
}

// @mixin mood($happy: true) {
//   @if $happy {
//     background-color: yellow;
//     color: black;
//   } @else {
//     background-color: red;
//     color: white;
//   }
// }

@mixin buttons {
  border-radius: 5px;
  border: none;
  background-color: $blueMelancholy;
  color: $whiteMind;
  font-weight: bold;
  box-shadow: 0 4px 12px 0 $niceBlueShadow;
}

@mixin shadowBox {
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 12px 0 $niceBlueShadow;
}

@mixin inputWrapper {
  @include boxSize(15%, 90%);
  @include flexContainer(flex, space-evenly, flex-start, column);
}

@mixin simpleBox{
  @include boxSize(40px, 260px);
  border-radius: 5px;
  border: 1px solid $grayPerson;
  padding: 10px;
}
