//FONT-TYPE
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Permanent Marker', cursive;

//FONT-SIZE
$fontSizeXS: smaller;
$fontSizeS: medium;
$fontSizeM: larger;
$fontSizeL: x-large;

//COLOURS
$whiteMind: #ffffff;
$blackFuture: #000000;
$blueMelancholy: #4794db;
$greenHapiness: #65c565;
$grayLife: #b4b2b2;
$grayPerson: #e1e4e8;
$niceBlueShadow: #2e374d29;

// MEDIA QUERIES
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
